.search {
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: right;
}

.google {
  font-family: Arial, sans-serif;
  font-weight: 550;
  font-size: 110px;
  margin-top: 300px;
  text-align: center;
}

form {
  margin-top: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

#search_bar {
  margin: auto;
  display: block;
  border-radius: 5px;
  height: 44px;
  width: 582px;
  font-size: 18px;
  border: 1px solid #dfe1e5;
  background: #fff;
}

.search_botton {
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 5px 4px;
  padding: 0 16px;
  cursor: pointer;
  min-width: 54px;
  height: 36px;
}

#images_text {
  color: #4487f6;
  font-size: 14px;
  font-family: arial, sans-serif;
  position: absolute;
  left: 1095px;
  bottom: 532px;
}
